.navbar {
  padding: 10px;
  margin-bottom:0px;
}

.project-bg {
  margin-top: 40px;
}

.left.carousel-control {
  left: 15px;
}

.right.carousel-control {
  right: 15px;
}

.white-bg {
  padding-top:40px;
  background:#fff;
  padding-left:50px;
  padding-right:50px;
  background-color: rgba(255, 255, 255, 0.9);
}

.basic-jumbo {
  padding-bottom: 200px;
  margin-top: 50px;
  color:#ffffff;
  font-weight: 100;
  font-size: 70px;
  letter-spacing: 7px;
}

footer {
  padding-bottom:10px;
}

.bottom-divider {
  margin: 50px 0px 30px 0px;
}

body {
  background: url(../img/subtle_white_feathers.png);
  height:100%;
}

@media screen and (max-width: 760px) {
  .carousel-btn {
    display: none !important;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.carousel-btn {
  margin: 0 10px 0 10px;
}

.project-thumb {
  width: 520px;
  margin-top:40px;
  background-color: grey;
  padding: 5px;
  border: 15px solid white;
}

.project-focus {
  margin-top: 70px;
}

.right-align {
  text-align: right;
}